* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bell MT", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {

    --cor1: #4A4A4A;
    --cor2: #663A28;
    --cor3: #5C4E43;
    --cor4: #FFFFFF;
    --cor5: #00000000;
    --cor6: #CB7F44;
    --fundo-site: #78909A;
}

@font-face {
    font-family: bell-mt;
    src: url(./fonts/bell-mt-bold.ttf);
    font-weight: bolder;
}


@font-face {
    font-family: bell-mt;
    src: url(./fonts/eshira.otf);
    font-weight: 100;
}

@font-face {
    font-family: bell-mt;
    src: url(./fonts/eshira.otf);
    font-weight: 400;
}


body {
    background-color: var(--fundo-site);

}

/* HEADER */
head {
    width: 100%;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.container-flex {
    widh: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.links {

    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
    font-size: 25px;
    color: var(--cor4);
    text-decoration: none;

}

.links a:hover {
    color: var(--cor6);
    border-bottom: 1px solid var(--cor4);
}
#icone-barras,
#icone-x{
    fill: white;
}
/* 
#menu_botao {
    display: none;
} */

#banner-master {
    background-image: url(./img/baner01.svg);
    height: 1080px;
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: cover;
    justify-content: space-between;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

}

.barra-de-pesquisa {
    display: flex;
    border: 2px solid var(--brancoperola);
    border-radius: 25px;
    overflow: hidden;
    height: 40px;


    background-color: white;
}

#titulo02 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#feitos-curso {
    margin-bottom: 120px;
}

#feitos-curso .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#feitos-curso h2 {
    margin-left: 5px;

}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;

}

#feitos-curso .card {
    width: 300px;
    height: 533px;
    margin: 20px;
    
    /* padding: 40px 20px; */
    border-radius: 40px;
    background-color: #f3f2f2;
    box-shadow: 0 4px 8px 0 lch(0% 0 0 / 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#feitos-curso .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--cnl);
    font-family: "Recursive", sans-linear-bold;
    text-align: center;

}

#feitos-curso .card p {
    font-family: "Recursive", sans-linear;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#feitos-curso .card svg {
    color: var(--verde-cnl);
    height: 75px;
}

#feitos-curso .card:hover {
    border: solid 3px var(--marrom-cnl);
}

#feitos-curso .card:hover h3 {
    color: var(--marrom-cnl);
}

#feitos-curso .card:hover svg {
    fill: var(--marrom-cnl);
}

#img01{
    width: 300px;
    border-radius: 30px;
}

#img02 {
    width: 300px;
    border-radius: 30px;
}

#img03 {
    width: 300px;
    border-radius: 30px;
}



.botao {
    height: 40px;
    width: 60%;
    background-color: var(--cor2);
    color: var(--cor4);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;
}

.botao2 {
    height: 40px;
    width: 60%;
    background-color: var(--cor2);
    color: var(--cor4);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;
}

.botao3 {
    height: 40px;
    width: 60%;
    background-color: var(--cor2);
    color: var(--cor4);
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 500ms;
}

.botao-redes {
    width: 240px;

    display: flex;
    justify-content: space-between;
}

span {
    color: #FFFFFF;
    margin-bottom: o;
    background-color: #4A4A4A;
    border-radius: 20px;
    padding: 10px 18px;

}

.titulo {
    margin: 40px;
}




#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
}

#sobre img {
    max-width: 460px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#sobre h2 {
    margin-right: 5px;
}

#sobre p {
    font-family: "recursive", sans-linear;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}

.titulo h2 {
    color: var(--branco);
    margin-bottom: 0;
    background-color: var(--roxo-pixelv);
    border-radius: 20px;
   

}

#parallax01 {
    height: 250px;

    background-image: url(./img/_\ \(8\)\ 1.svg);

    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/_\ \(8\)\ 1.svg);
    background-attachment: fixed;
    background-size: 30%;

    margin-bottom: 120px;
}




#titulo03 {
    display: flex;
    justify-content: center;
    align-items: center;
}







#instrumentos {
    margin-bottom: 120px;
}

#instrumentos .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#instrumentos h2 {
    margin-left: 5px;

}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;

}
















.container-intrumentos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;                    
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.cartao {
    position: relative;
    border-radius: 30px;           
    overflow: hidden;
    aspect-ratio: 4 / 3;          
   
}

.cartao img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







.cartao  {
    position: relative;
    overflow: hidden; 
    border-radius: 25px; 
    aspect-ratio: 1 / 1; 
   
    
     
    transition: transform 0.3s ease-in-out; 
}


.cartao :hover {
    
    transform: scale(1.05); 
    
   
   
    z-index: 10;
}


.cartao  {
    
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    
    
    transition: all 0.3s ease-in-out;
}

#parallax02 {
    margin-top: 100px;
    height: 250px;

    background-image: url(./img/IMG_1776\ 1.svg);

    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/IMG_1776\ 1.svg);
    background-attachment: fixed;
    background-size: 30%;

    margin-bottom: 120px;
}







footer {
    height: 250px;
  background-color: #000000;
}

footer img {
    height: 90px;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes-sociais {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: #FFFFFF;
}

.redes-sociais p {
    color: var(--branco);

    font-family: "Recursive", sans-linear-bold;
    font-size: 24px;
}

.icones-redes {
    width: 240px;

    display: flex;
    justify-content: space-between;
}

.icones-redes a {
    color: var(--branco);

}

.icones-redes a:hover {
    color: var(--marromclaro);
}
#sobre p {
    font-size: 20px;
}
.container-grid{
    width: 80vw;
    max-width: 100%;
    margin: 0 auto;
}
#img02{
    
    width: 302px;
}

#img03{
    
    width: 302px;
}

#img01{
    
    width: 302px;
}




































/* -------------------- Responsividade --------------- */


#sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
        border: none;
        background-color: transparent;
    }

nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
       
    }